body{
    background: rgb(70, 142, 236);
    font: normal 1.5rem Arial;
    color: white;
}

header{
    text-align: center;
}

section{
    background:white ;
    border-radius: 10px;
    width: 500px;
    padding:15px;
    margin: auto;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}

footer{
    font-style: italic;
    text-align: center;
}

